/* MARGINS:
3 / 4.5 / 7 // 9 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

.top-bar {
  position: sticky;
  top: 0;
  display: flex;
  gap: 7rem;
  list-style: none;
  justify-content: center;
  padding: 1rem 0;
  background-color: #1f1d1d91;
  margin: 0;
}

.top-bar li {
  cursor: pointer;
  transition: color 0.3s;
  color: #e7e4ee;
}

.top-bar li:hover,
.top-bar li:active {
  color: rgb(128, 128, 123);
}

.top-git {
  text-decoration: none;
  color: #e7e4ee;
  transition: color 0.3s;
}
.top-git:hover,
.top-git:active {
  color: rgb(128, 128, 123);
}
.content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 20rem 20rem 20rem;
  text-align: center;
}

.landing-section {
  max-width: 80rem;
  /* transform: translateX(10rem); */
}

.landing-section h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.landing-section h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.landing-section h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 7rem;
}
.landing-parg {
  font-weight: 300;
  line-height: 2.2rem;
  text-align: left;
  /* text-indent: 2rem; */
  margin: 0rem 5rem 5rem 10rem;
}

.tech-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 7rem;
}

.resume-line {
  font-weight: 400;
}
.download-resume {
  color: #07b99b;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s;
}
.download-resume:hover,
.download-resume:active {
  color: #e6dddd;
}
.project-section {
  /* transform: translateX(7.5rem); */
  max-width: 80rem;
  margin-top: 15rem;
}
.projects-header {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4.5rem;
}
.project-cont {
  background-color: #1d1b1bb6;
  display: flex;
  overflow: hidden;
  padding: 1rem;
  /* margin: 2rem; */
  border-radius: 0.2rem;
  margin-bottom: 4.5rem;
}
.project-header {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #4a91d8;
}
.image-box {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.5rem;
  flex: 1;
}
.image-desc,
.image-desc2,
.image-desc3 {
  font-weight: 300;
}
.project-image {
  /* flex-basis: 33.3%; */
  /* background-color: #34495e; */
  /* padding: rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}
.project-image img {
  margin-top: 1rem;
  width: 110%;
  height: auto;
  border-radius: 0.2rem;
}
.ccalc-diagram img {
  /* size: 110%; */
}
.ccalc-parg {
  text-align: left;
  /* margin: 0; */
  line-height: 2.2rem;
}
.project-content {
  /* background-color: #1d1b1bb6; */
  padding: 3rem;
  flex: 2;
  margin-left: 2rem;
}
.stack-list {
  margin: 3rem 3rem;
  /* justify-content: flex-start; */
}
.stack-list,
.aws-list {
  /* align-content: flex-start; */
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.aws-list {
  margin-bottom: 4.5rem;
}
.stack-item {
  background-color: #4a91d8;
  padding: 0.6rem;
  border-radius: 0.2rem;
}
.aws-item {
  background-color: #5a357c;
  padding: 0.6rem;
  border-radius: 0.2rem;
  height: 1.5rem;
  width: 8rem;
}
.aws-item-small {
  background-color: #5a357c;
  padding: 0.6rem;
  border-radius: 0.2rem;
  height: 1.5rem;
}

.action-section {
  display: flex;
  gap: 4.5rem;
  justify-content: center;
}
.site-link {
  background-color: aliceblue;
}
.git-link {
  background-color: aliceblue;
}
.site-link,
.git-link {
  color: black;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}

.image-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex: 1;
}
.globecorp2 {
  transform: translateX(-0.3rem);
}
.globecorp-parg {
  text-align: left;
  line-height: 2.2rem;
}
.sl2 {
  margin-top: 7rem;
}
.ac2 {
  margin-top: 4.5rem;
}

.project-image-small {
  padding-left: 2rem;
  padding-right: 2rem;
}
.project-image-small img {
  width: 70%;
  height: 70%;
  border-radius: 0.2rem;
}
.image-box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex: 1;
}
.sl3 {
  margin-top: 3rem;
}
.certs-section {
  /* transform: translateX(7.5rem); */
  max-width: 80rem;
  margin-top: 15rem;
}
.certs-header {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4.5rem;
}
.cert-cont {
  background-color: #1d1b1bb6;
  display: flex;
  overflow: hidden;
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 4.5rem;
}
.cert-content {
  padding: 3rem;
  flex: 2;
  margin-left: 2rem;
}
.cert-header {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #4a91d8;
}
.cert-parg {
  margin-top: 3rem;
}
.contact-section {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-header {
  margin-top: 15rem;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4.5rem;
}
.link-outer {
  font-weight: 300;
}
.link-inner {
  color: green;
  text-decoration: none;
}
.link-inner:hover {
  color: blue;
}
.email-cont {
  margin-top: 2rem;
  display: flex;
  max-width: 20rem;
}
.email {
  font-weight: 500;
}
.copy-icon {
  cursor: pointer;
  margin-left: 0.6rem;
  height: 1rem;
  width: 1rem;
  transform: translateY(1.4rem);
}
.copy-icon:hover {
  color: green;
}
.copy-icon:active {
  color: blue;
}
