/* MARGINS:
3 / 4.5 / 7 // 9 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

.top-bar {
  position: sticky;
  top: 0;
  display: flex;
  gap: 7rem;
  list-style: none;
  justify-content: center;
  padding: 1rem 0;
  background-color: #1f1d1d91;
  margin: 0;
}

.top-bar li {
  cursor: pointer;
  transition: color 0.3s;
}

.top-bar li:hover,
.top-bar li:active {
  color: rgb(128, 128, 123);
}

.content {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3.5rem;
  text-align: center;
}

/* .landing-section {
} */

.landing-section h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.landing-section h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.landing-section h3 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 7rem;
}
.landing-parg {
  font-weight: 300;
  line-height: 2.2rem;
  text-align: left;
  /* text-indent: 2rem; */
  margin: 0rem 5rem 5rem 10rem;
}

.tech-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 7rem;
}

.resume-line {
  font-weight: 400;
}
.download-resume {
  color: #07b99b;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s;
}
.download-resume:hover,
.download-resume:active {
  color: #e6dddd;
}

.projects-header {
  margin-top: 9rem;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4.5rem;
}
.project-cont {
  background-color: #2c3e50;
  display: flex;
  overflow: hidden;
  padding: 1rem;
  /* margin: 2rem; */
  border-radius: 0.2rem;
}
.project-header {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #4a91d8;
}
.image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.5rem;
  flex: 1;
}
.image-desc {
  /* padding-bottom: 3rem; */
}
.project-image {
  /* flex-basis: 33.3%; */
  /* background-color: #34495e; */
  /* padding: rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}
.project-image img {
  margin-top: 1rem;
  width: 110%;
  height: auto;
  border-radius: 0.2rem;
}
.ccalc-diagram img {
  /* size: 110%; */
}
.ccalc-parg {
  text-align: left;
  /* margin: 0; */
  line-height: 2.2rem;
}
.project-content {
  padding: 3rem;
  flex: 2;
  margin-left: 2rem;
}
.stack-list {
  margin: 3rem 3rem;
  /* justify-content: flex-start; */
}
.stack-list,
.aws-list {
  /* align-content: flex-start; */
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.aws-list {
  margin-bottom: 4.5rem;
}
.stack-item {
  background-color: #07b99b;
  padding: 0.6rem;
  border-radius: 0.2rem;
}
.aws-item {
  background-color: #5a357c;
  padding: 0.6rem;
  border-radius: 0.2rem;
}

.action-section {
  display: flex;
  gap: 4.5rem;
  justify-content: center;
}
.site-link {
  background-color: aliceblue;
}
.git-link {
  background-color: aliceblue;
}
.site-link,
.git-link {
  color: black;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}
